/* BASIC STYLES HERE */
.header-shadows {
    border: solid black;
    box-shadow: 10px 10px rgb(81, 203, 255);
    background-color: white;
}

.jumble-shadow {
    border: solid black;
    box-shadow: 10px 10px rgb(247, 147, 220);
    background-color: white;
}

.start-button {
    background-color: rgb(252, 141, 30);
    color: rgb(65, 62, 62);
}

.jumble-prompt {
    border: solid black;
    box-shadow: 10px 10px rgb(172, 3, 152);
    background-color: white;
}

.text-box {
    border: solid black;
    box-shadow: 10px 10px rgb(210, 255, 87);
    background-color: white;
}

.purple-button {
    background-color: purple;
    color: rgb(210, 255, 87);
}